body {
    background-color: #12131e;
    color: #c1c9e1;
    font-family: 'JetBrains Mono', monospace;
}

ul {
    display: grid;
    grid-template-columns: 174px 400px;
}

li {
    word-wrap: break-word;
    color: gold;
    list-style-type: none;
    margin-left: 0,5%;
    width: 174px;
}

.button {
    background-color: transparent;
    color: #c1c9e1;
    border: none;
    border-radius: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.completed {
    color: greenyellow;
}

#todo-input {
    width: 200px;
}

.for-buttons {
    float: right;
    width: 900px;
}

input[type=text] {
    font-family: 'JetBrains Mono', monospace;
    background-color: transparent;
    border: none;
    color: #c1c9e1;
}
